:host {
    width: 100%;
}

h3 {
    text-align: center;
}

.info-resume {
    padding: 15px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    margin-left: 10px;
    margin-right: 10px;

    .summary-title-value {
        text-align: center;
    }
}
