@import '../../../../../assets/css/variable.scss';
@import '../../../../../assets/css/global.scss';

.criteria-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info {
    text-align: center;
}

.mat-card {
    background: white;
}

.controls {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mat-card {
    background: white !important;
}


.summary-text {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-family: $bms_font_header;
    font-size: 15px;
    margin: 0 10px 0 0;

    span {
        font-size: 20px;
        color: $bms_red;
        padding: 0 10px;
    }
}

