<div class="header">
  <h3>Group {{ name }}</h3>
  <button
    mat-stroked-button
    class="button-text-accent distribution-add-button"
    (click)="removeGroupClick.emit()"
  >
    <span>{{ language.remove }}</span>
  </button>
</div>

<app-table
  *ngIf="currentDisplayType?.type !== 'mobile'"
  (openModal)="onOpenModal($event)"
  [entity]="criteriaClass"
  [data]="data"
  [deletable]="true"
  #criteriaTable
>
</app-table>
<app-table-mobile
  *ngIf="currentDisplayType?.type === 'mobile'"
  (openModal)="onOpenModal($event)"
  [entity]="criteriaClass"
  [data]="data"
  [deletable]="true"
></app-table-mobile>
<div class="controls">
  <h3 class="summary-text">
    <span>{{ reachedBeneficiaries }}</span> {{ targetType }}
  </h3>

  <button
    *ngIf="showDetails"
    mat-stroked-button
    class="button-text-accent distribution-add-button"
    (click)="detailsClick.emit()"
  >
    <span>{{ language.details }}</span>
  </button>
  <button
    mat-stroked-button
    class="button-text-accent distribution-add-button"
    (click)="addClick.emit()"
  >
    <span>{{ language.add }}</span>
  </button>
</div>
