<div class="container-box">
    <div class="box-image">
        <div class="box-login">
            <div class="login-logo">
                <img class="logo-image" src="../../../../assets/images/bms_logo_with_title.png" />
            </div>
            <form [formGroup]="form">
                <div class="login-title">
                    <h1 class="title-text">{{language.login_bms}}</h1>
                    <div *ngIf="environmentName !== 'demo' && environmentName !== 'prod'"> {{gitInfo.appVersion}}</div>
                </div>
                <div class="login-user">
                    <input type="text" class="user-input" aria-describedby="basic-addon1"
                        placeholder="{{language.username}}" formControlName="username">
                    <input autocomplete="new-password" type="password" class="user-input"
                        aria-describedby="basic-addon1" placeholder="{{language.login_password}}"
                        formControlName="password">
                </div>
                <div class="login-button">
                    <ng-container *ngIf="prod(); else notProd">
                        <re-captcha #captchaRef size="invisible" (resolved)="onSubmit()"></re-captcha>
                        <button (click)="captchaRef.execute()" mat-flat-button *ngIf="!loader" [disabled]="form.invalid"
                            class="button-background-primary">{{language.login_title}}</button>
                    </ng-container>
                    <ng-template #notProd>
                        <button (click)="onSubmit()" mat-flat-button *ngIf="!loader" [disabled]="form.invalid"
                            class="button-background-primary">{{language.login_title}}</button>
                    </ng-template>
                    <br>
                    <mat-spinner [diameter]="35" *ngIf="loader"></mat-spinner>
                    <!--
                    <button (click)="googleAuthRedirect()" mat-flat-button class="button-sso"
                        *ngIf="!loader">
                        <mat-icon class="icon-sso" svgIcon="google"></mat-icon>
                        <span>{{language.login_title_google}}</span>
                    </button>
                    <button (click)="hidAuthRedirect()" mat-flat-button class="button-sso" *ngIf="!loader">
                        <mat-icon class="icon-sso" svgIcon="hid"></mat-icon>
                        <span class="sso-button-text">{{language.login_title_hid}}</span>
                    </button>
                    -->
                </div>
            </form>
            <div>

            </div>
        </div>
    </div>
</div>
