@import '../../../assets/css/variable.scss';
@import '../../../assets/css/global.scss';

:host {
  width: 100%;
}

table {
  width: 100%;

  td {
    text-align: center;
  }

  th {
    text-align: center;
  }
}

.buttons-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .container-header {
    width: 25%;
  }

  .items-info {
    font-size: 14px;
  }

  .search {
    font-size: 14px;
    width: 100%;
  }

  .mat-icon {
    vertical-align: middle;
    color: rgba(0, 0, 0, 0.54);
    margin-right: 5px;
  }
}

.spinner-container {
  min-height: 360px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-data {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  color: $bms_dark_grey;
}

.mat-column-actions {
  width: 150px;
}

.mat-header-cell {
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  .mat-table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    display: table;
    border-collapse: collapse;
    margin: 0px;
  }
  .mat-row,
  .mat-header-row {
    display: table-row;
  }
  .mat-cell,
  .mat-header-cell {
    word-wrap: initial;
    display: table-cell;
    padding: 0px 5px;
    line-break: unset;
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
  }
}

.removed {
  background-color: $bms_neutral_grey;
  opacity: 0.7;
}

::ng-deep {
  table {
    button {
      margin: 0.5vh;

      mat-icon {
        font-weight: 800 !important;
        font-size: 25px;
      }

      &:hover {
        background-color: $bms_white;
      }
    }

    .light-blue {
      color: $bms_light_blue;
    }

    .green {
      color: $bms_green;
    }

    .red {
      color: $bms_red;
    }

    .dark-blue {
      color: $bms_dark_blue;
    }

    .grey {
      color: $bms_dark_grey;
    }
  }
}

@media (max-width: 768px) {
  .mat-table.responsive {
    .mat-header-row {
      display: flex;
      flex-wrap: wrap;
      height: auto;
      position: sticky;
      top: 0;
      z-index: 2;

      th.mat-header-cell {
        display: flex;
        flex: 1;
        align-items: center;
        padding: 1rem 0.5rem;
        justify-content: space-around;

        & > .mat-sort-header-container {
          padding-left: 15px; // padding is used to center the header table cells, due to the width of the sort icon
        }

        &:not([mat-sort-header]),
        &.mat-sort-header-disabled,
        &.mat-column-actions {
          display: none;
        }
      }
    }

    .mat-row {
      height: auto;

      td.mat-cell:not(.mat-column-actions) {
        display: grid;
        grid-template-columns: 50% 50%;
        padding: 0.5rem;
        text-align: right;
        word-break: break-word;

        & > * {
          grid-column: 2;
        }

        &:before {
          content: attr(data-column-name);
          text-align: left;
        }
      }

      td.mat-column-actions {
        display: flex;
        justify-content: center;
        padding: 0 0.5rem;

        & > button {
          margin: 0.5rem 0;
        }
      }

      &:last-of-type td:last-of-type {
        border: none;
      }

      &:not(:last-of-type) td:last-of-type {
        border-bottom: 0.5rem solid #fafafa;
      }
    }
  }

  .mat-card,
  .mat-expansion-panel {
    .mat-table[matTableResponsive] {
      border: 0.5rem solid #fafafa;
    }
  }
}
