@import '../../../assets/css/variable.scss';
@import '../../../assets/css/global.scss';

:host {
    width: 100%;
}


table {
    width: 100%;

    td {
        text-align: center;
    }

    th {
        text-align: center;
    }
}

.buttons-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .container-header {
        width: 25%;
    }

    .items-info {
        font-size: 14px;
    }

    .search {
        font-size: 14px;
        width: 100%;
    }

    .mat-icon {
        vertical-align: middle;
        color: rgba(0, 0, 0, 0.54);
        margin-right: 5px;
    }
}

.spinner-container {
    min-height: 360px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-data {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    color: $bms_dark_grey;
}

.mat-column-actions {
    width: 150px;
}

.mat-header-cell {
    justify-content: center;
    font-weight: 700;
    font-size: 14px;
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    .mat-table {
        width: 100%;
        max-width: 100%;
        margin-bottom: 1rem;
        display: table;
        border-collapse: collapse;
        margin: 0px;
    }
    .mat-row,
    .mat-header-row {
        display: table-row;
    }
    .mat-cell,
    .mat-header-cell {
        word-wrap: initial;
        display: table-cell;
        padding: 0px 5px;
        line-break: unset;
        width: auto;
        white-space: nowrap;
        overflow: hidden;
        vertical-align: middle;
    }
}


::ng-deep {

    table {
        button {
            margin: 0.5vh;

            mat-icon {
                font-weight: 800 !important;
                font-size: 25px;
            }

            &:hover {
                background-color: $bms_white;
            }
        }


        .light-blue {
            color: $bms_light_blue;
        }

        .green {
            color: $bms_green
        }

        .red {
            color: $bms_red;
        }

        .dark-blue {
            color: $bms_dark_blue;
        }

        .grey {
            color: $bms_dark_grey;
        }
    }

}

