<div class="page-container">
    <div class="container-data">
        <div class="container-content">
            <div class="headline">
                <h1>{{language.add_project_new_assistance}}</h1>
            </div>

            <div class="container-fields">

                <div class="field-distribution" [ngClass]="{'rtl':language.direction === 'rtl'}">
                    <h2>{{language.add_distribution_location_date}}</h2>
                    <mat-card>
                        <app-assistance-location-form
                            [maxDate]="projectEndDate$ | async"
                        (dataChanged)="locationChanged($event)">
                        </app-assistance-location-form>
                    </mat-card>
                    <h2>{{language.add_distribution_target}}</h2>
                    <mat-card>
                        <app-assistance-parameters-form
                            [sectors]="sectors$ | async"
                            (dataChanged)="parametersChanged($event)">
                        </app-assistance-parameters-form>
                    </mat-card>
                </div>

                <div class="field-forms">
                    <div class="forms-criteria">
                        <app-assistance-criteria
                            [projectId]="(project$ | async)?.id"
                            [targetType]="form.get('target_type')?.value"
                            (totalBeneficiariesChanged)="totalBeneficiaries = $event"
                            (reachedBeneficiariesChanged)="reachedBeneficiaries = $event"
                            (criteriaChanged)="criteriaChanged($event)"
                            (thresholdChanged)="thresholdChanged($event)"
                        >
                        </app-assistance-criteria>
                    </div>
                    <div>
                        <app-assistance-commodity
                            [totalBeneficiaries]="totalBeneficiaries"
                            (commoditiesChanged)="commoditiesChanged($event)">

                        </app-assistance-commodity>
                    </div>
                </div>
            </div>
            <div class="action-buttons content-button content-button-footer">
                <button [disabled]="loadingCreation" mat-flat-button class="button-background-primary" (click)="createProject()">
                    <ng-container *ngIf="!loadingCreation">{{language.create}}</ng-container>
                    <mat-spinner *ngIf="loadingCreation" [diameter]="30"></mat-spinner>
                </button>

                <button mat-button class="button-text-primary" (click)="cancel()">
                    {{language.cancel}}
                </button>
            </div>
        </div>
    </div>
</div>

