:host  {
    width: 100%;
}

form.standard {
    display: flex;
    flex-direction: row;
    margin: 20px;

    > * {
        width: 100%;
        margin: 10px;
    }

    mat-form-field {
        width: 100%;
    }


    ::ng-deep .ng-select .ng-select-container {
        min-height: 45px;
    }
}

