
<form class="standard" [formGroup]="form" *ngIf="form">
    <div>
        <mat-form-field>
            <input matInput
                   [placeholder]="language.institution_contact_name"
                   formControlName="contact_name">
        </mat-form-field>
        <mat-form-field>
            <input matInput
                   [placeholder]="language.institution_contact_family_name"
                   formControlName="contact_family_name">
        </mat-form-field>
        <div>
            <div class="phone-number">
                <ng-select
                    [multiple]="false"
                    [closeOnSelect]="true"
                    [searchable]="true"
                    class="single-select prefix"
                    formControlName="phone_prefix"
                    placeholder="{{language.phone}} {{language.phone_prefix}}">
                    <ng-option *ngFor="let code of phoneCodes" [value]="code">
                        {{code}}
                    </ng-option>
                </ng-select>
                <mat-form-field class="number">
                    <input matInput

                           [placeholder]="language.phone_no"
                           formControlName="phone_number">
                </mat-form-field>
            </div>
        </div>
        <div formGroupName="national_id">
            <ng-select
                [multiple]="false"
                [closeOnSelect]="true"
                [searchable]="true"
                class="single-select"
                formControlName="type"
                [placeholder]="language.national_id_type">
                <ng-option *ngFor="let type of cardTypes" [value]="type.id">
                    {{language[type.language_key]}}
                </ng-option>
            </ng-select>
            <mat-form-field>
                <input matInput
                       [placeholder]="language.national_id_number"
                       formControlName="number">
            </mat-form-field>
        </div>
    </div>
    <div formGroupName="address">
        <app-administrative-area formControlName="location"></app-administrative-area>
        <mat-form-field>
            <input matInput
                   [placeholder]="language.address_number"
                   formControlName="number">
        </mat-form-field>
        <mat-form-field>
            <input matInput
                   [placeholder]="language.address_street"
                   formControlName="street">
        </mat-form-field>
        <mat-form-field>
            <input matInput
                   [placeholder]="language.address_postcode"
                   formControlName="postcode">
        </mat-form-field>
    </div>
</form>
