<div class="distribution-title">
  <h2>{{ language.add_distribution_distributed_commodity }}</h2>
  <button
    mat-stroked-button
    class="button-text-accent distribution-add-button"
    (click)="addClick.emit()"
  >
    <span>{{ language.add }}</span>
  </button>
</div>
<div class="form" *ngIf="currentDisplayType?.type !== 'mobile'">
  <app-table
    (openModal)="removeClick.emit($event.element)"
    [entity]="commodityClass"
    [data]="commoditiesDataSource"
    deletable="true"
    rights="true"
    #commodityTable
  ></app-table>
</div>
<div class="summary-container" *ngIf="commoditiesDataSource.data.length != 0">
  <h3
    class="summary-text"
    *ngFor="let commodity of commoditiesDataSource.data; let i = index"
  >
    <span>{{ commodity.get('value') * reachedBeneficiaries | number }}</span>
    {{ commodity.get('unit') }} {{ language.add_distribution_commodities_delivered }}
  </h3>
</div>
<div class="form" *ngIf="currentDisplayType?.type === 'mobile'">
  <app-table-mobile
    (openModal)="removeClick.emit($event.element)"
    [entity]="commodityClass"
    [data]="commoditiesDataSource"
    deletable="true"
    rights="true"
  ></app-table-mobile>
</div>
